# Clases

In [1]:
from datetime import date

class Persona:
  def __init__(self, año_nacimiento, sexo, nombre, apellido):
    self.año_nacimiento = año_nacimiento
    self.sexo = sexo
    self.edad = self.get_edad()
    self.nombre = nombre
    self.apellido = apellido

  def get_edad(self):
    return date.today().year - self.año_nacimiento

  def info(self):
    print("Nombre   : "+self.nombre)
    print("Apellido : "+self.apellido)
    print("Edad     : "+str(self.edad))
    print("Sexo     : "+self.sexo)

persona01 = Persona(1979,"Hombre","Manuel","López")

persona01.info()

Nombre   : Manuel
Apellido : López
Edad     : 42
Sexo     : Hombre

In [2]:
print("Año de nacimiento "+str(persona01.año_nacimiento))

Año de nacimiento 1979

## Herencia

In [3]:
class Estudiante(Persona): 
  def __init__(self, año_nacimiento, sexo, nombre, apellido, curso):
    super().__init__(año_nacimiento, sexo, nombre, apellido)
    self.curso = curso
  def info(self):
    super().info()
    print("Curso    : "+self.curso) 

estudiante01 = Estudiante(1981,"Mujer","María","Garcia","1DAM")

estudiante01.info()

Nombre   : María
Apellido : Garcia
Edad     : 40
Sexo     : Mujer
Curso    : 1DAM

## Ejercicio : Academia
Dadas las siguientes listas de módulos:

In [5]:
DAM1 = [["0484", "Bases de datos",6 ],
  ["0487", "Entornos de desarrollo", 3 ],
  ["0493", "Formación y orientación laboral", 3 ],
  ["0373", "Lenguaje de marcas y sistemas de gestión de información", 4 ],
  ["0485", "Programación",8 ],
  ["0483", "Sistemas informáticos", 6 ]]
DAM2 = [["0486", "Acceso a datos", 6],
  ["0488", "Desarrollo de interfaces", 6],
  ["0494", "Empresa e iniciativa emprendedora", 3],
  ["9009", "Inglés técnico para grado superior", 2],
  ["0490", "Programación de servicios y procesos", 4],
  ["0489", "Programación multimedia y dispositivos móviles", 4],
  ["0491", "Sistemas de gestión empresarial", 5]]

Crea la clase Curso que cargue los dos cursos DAM1 y DAM2.
Crea la clase Modulo que cargue los módulos.
Haz una lista con los cursos de tal forma que la salida de:

In [ ]:
for i in cursos:
  print(i.info())

In [ ]:
Curso 1 DAM
  0484 Bases de datos (6)
  0487 Entornos de desarrollo (3)
  0493 Formación y orientación laboral (3)
  0373 Lenguaje de marcas y sistemas de gestión de información (4)
  0485 Programación (8)
  0483 Sistemas informáticos (6)
Curso 2 DAM
  0486 Acceso a datos (6)
  0488 Desarrollo de interfaces (6)
  0494 Empresa e iniciativa emprendedora (3)
  9009 Inglés técnico para grado superior (2)
  0490 Programación de servicios y procesos (4)
  0489 Programación multimedia y dispositivos móviles (4)
  0491 Sistemas de gestión empresarial (5)

- ayuda:
    + metodo \_\_init\_\_ para la clase Curso : def \_\_init\_\_(self,año,nombre):
    + metodo \_\_init\_\_ para la clase Modulo : def \_\_init\_\_(self, ID, nombre , horas):